#xxx{
    empty-cells: 0;
    widows: inherit;
	font-size: 20;
}
if(alpaca=hungry){
	feed(alpaca);
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
#test123
{
    background-color: #fff;
}
=======
<<<<<<< Updated upstream
>>>>>>> origin/master
#abc{
    empty-cells: 0;
    widows: inherit;
}
=======
#yyy{
    empty-cells: 0;
    widows: inherit;
}
>>>>>>> Stashed changes
>>>>>>> origin/master
