#xxx{
    empty-cells: 0;
    widows: inherit;
}

<<<<<<< HEAD
#test123
{
    background-color: #fff;
}
=======
<<<<<<< Updated upstream
>>>>>>> origin/master
#abc{
    empty-cells: 0;
    widows: inherit;
}
=======
#yyy{
    empty-cells: 0;
    widows: inherit;
}
>>>>>>> Stashed changes
